@font-face {
	font-family: 'Virgil';
	src: local("Virgil"),
    url("/fonts/Virgil.woff2") format("woff");
}

:root {
  --slidev-theme-primary-highlight: #fdff32;
  --slidev-theme-secondary-highlight: #00ff04;
  --slidev-theme-marker-animation: enabled;
}

.light #slide-content {
  background-color: #F5FAFF;
  color: #1E1E1E;
}

.dark #slide-content {
  background-color: #13171B;
  color: #D3D3D3;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

h1, h2 {
  position:relative;
  display: inline-block;
}

.dark h1, 
.dark h2 {
  color: #fff !important;
}

h1:before, h2::before {
  content:"";
  height: 0.9em;
  position:absolute;
  z-index:-1;
  filter: url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.35em;
  transform: rotate(-0.5deg);
  animation-name: var(--slidev-theme-marker-animation, disabled);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  mask-image: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.9) 17%, rgba(0,0,0,0.95) 43%, rgba(0,0,0,1) 64%, rgba(0,0,0,0.9) 88%, rgba(0,0,0,0.7) 100%);

}

h1::before, .intro h1::before {
  background-color:var(--slidev-theme-primary-highlight);
}

.dark h1::before, .dark .intro h1::before {
  opacity: 0.9 !important
}

.cover h1::before, .center h1::before {
  background-color:var(--slidev-theme-secondary-highlight);
}

h2::before {
  background-color:var(--slidev-theme-secondary-highlight);
}

.dark h2::before {
  opacity: 0.9 !important;
}

@keyframes enabled {
  0% {
    width: 0%;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: calc(100% + 1.8rem);
    opacity: 1;
  }
}

@keyframes disabled {
  0% {
    opacity: 1;
    width: calc(100% + 1.8rem);
    animation-delay: 0;
  }
  1% {
    opacity: 1;
    width: calc(100% + 1.8rem);
    animation-delay: 0;
  }
  100% {
    opacity: 1;
    width: calc(100% + 1.8rem);
    animation-delay: 0;
  }
}